/* line 14, ../../sass/components/thr.scss */
a {
  text-decoration: none;
  color: #1f4c7f;
}

/* line 18, ../../sass/components/thr.scss */
a:hover {
  color: #567ca5;
}

/* line 22, ../../sass/components/thr.scss */
#navigation {
  background: #1f4c7f;
  /*width: 100%;*/
  padding-top: 10px;
}
/* line 23, ../../sass/components/thr.scss */
#navigation a {
  color: white;
}
/* line 29, ../../sass/components/thr.scss */
#navigation ul.links {
  display: inline;
  font-size: larger;
}
/* line 32, ../../sass/components/thr.scss */
#navigation ul.links li {
  margin-right: 10px;
  display: inline;
}
/* line 35, ../../sass/components/thr.scss */
#navigation ul.links li a {
  text-decoration: none;
}
/* line 38, ../../sass/components/thr.scss */
#navigation ul.links li a:hover {
  color: #567ca5;
}

/* line 46, ../../sass/components/thr.scss */
.block {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 90px;
  padding-top: 25px;
}

/* line 53, ../../sass/components/thr.scss */
.block-human-rights {
  background: #e0e0e0;
}

/* line 57, ../../sass/components/thr.scss */
.block-importance {
  background: #d1d1d1;
}
/* line 59, ../../sass/components/thr.scss */
.block-importance img.thumb {
  float: left !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 66, ../../sass/components/thr.scss */
#block-twitter-block-1 {
  padding: 0px;
}

/* line 70, ../../sass/components/thr.scss */
h2.block-title {
  word-wrap: normal;
}

/* line 75, ../../sass/components/thr.scss */
#views_slideshow_cycle_main_featured_slider-block {
  background: #e0e0e0;
}

/* line 79, ../../sass/components/thr.scss */
#views_slideshow_cycle_main_featured_slider-block div img {
  margin: auto;
  display: block;
}

/* line 84, ../../sass/components/thr.scss */
#header {
  background: #103b6a;
}

/* line 88, ../../sass/components/thr.scss */
#header a {
  color: white;
  text-decoration: none;
}

/* line 93, ../../sass/components/thr.scss */
#view-content {
  background: #d1d1d1;
}

/* line 97, ../../sass/components/thr.scss */
.views-slideshow-cycle-main-frame.views_slideshow_cycle_teaser_section {
  margin: auto;
}

/* line 101, ../../sass/components/thr.scss */
img.thumb {
  width: 20%;
  float: right;
  padding-left: 10px;
}

/* line 107, ../../sass/components/thr.scss */
div.blurb {
  display: block;
}

/* line 111, ../../sass/components/thr.scss */
.blurb span {
  display: block;
  text-align: justify;
}

/*.views-row.views-row-1.views-row-odd.views-row-first.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-2.views-row-even.views-row-last.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-2.views-row-even.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-3.views-row-odd.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-4.views-row-even.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-5.views-row-odd.views-row-last.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
} */
/* line 152, ../../sass/components/thr.scss */
.view-main-news-feed {
  background: #d1d1d1;
  padding-top: 25px;
}

/* line 157, ../../sass/components/thr.scss */
.view-main-news-feed .views-row {
  background: #FFF;
}

/* line 161, ../../sass/components/thr.scss */
.views-row img {
  float: left;
  border: solid 1px;
  margin-left: 5px;
}

/* line 167, ../../sass/components/thr.scss */
.views-row .field-content {
  /*padding-left: 23%;*/
}

/* line 171, ../../sass/components/thr.scss */
.newsitem {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding-bottom: 50px;
  /*border: solid 1px;*/
}

/* line 180, ../../sass/components/thr.scss */
.newsitem .views-field-title {
  margin-left: 43%;
  font-size: larger;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* line 187, ../../sass/components/thr.scss */
.newsitem .views-field-body {
  padding-left: 23%;
}

/* line 191, ../../sass/components/thr.scss */
.newsitem .views-field-view-node {
  padding-left: 23%;
}

/* line 195, ../../sass/components/thr.scss */
#about-us {
  font-family: Sans-serif;
  text-align: justify;
}

/* line 201, ../../sass/components/thr.scss */
#about-us-top {
  background: #FFFFFF;
}

/* line 205, ../../sass/components/thr.scss */
#about-us-bottom {
  background: #545454;
}

/* line 209, ../../sass/components/thr.scss */
#about-us-pic {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* line 218, ../../sass/components/thr.scss */
#about-us-bottom h1 {
  text-align: center;
}

/* line 222, ../../sass/components/thr.scss */
#about-us p {
  width: 600px;
  font-size: larger;
  margin-left: auto;
  margin-right: auto;
}

/* line 229, ../../sass/components/thr.scss */
.theme .views-field-name {
  /* background: $bg-color-light-gray;
   border: solid 1px;
   text-align: center;
   min-width: 300px;
   padding-top: 10px;
   padding-bottom: 10px;*/
  position: absolute;
  z-index: 1;
  background: #d1d1d1;
  margin-top: 5px;
  margin-left: 5px;
}

/* line 243, ../../sass/components/thr.scss */
.theme td {
  /*background: $bg-color-light-gray;
  border: solid 1px;*/
  min-width: 220px;
  min-height: 220px;
  padding: 10px;
}

/* line 251, ../../sass/components/thr.scss */
.theme img {
  position: relative;
  width: 100%;
  border-radius: 2%;
}

/* line 257, ../../sass/components/thr.scss */
.theme table {
  margin-left: auto;
  margin-right: auto;
}

/* line 262, ../../sass/components/thr.scss */
#page-title {
  text-align: center;
}

/* line 266, ../../sass/components/thr.scss */
.theme a {
  color: black;
}

/* line 270, ../../sass/components/thr.scss */
.breadcrumb a {
  display: none;
}

/* line 274, ../../sass/components/thr.scss */
.view-regions table {
  margin-left: auto;
  margin-right: auto;
}

/* line 279, ../../sass/components/thr.scss */
.view-regions td {
  /*background: $bg-color-light-gray;
  border: solid 1px;*/
  padding: 25px;
}

/* line 285, ../../sass/components/thr.scss */
.view-regions h4 {
  text-align: center;
  font-size: larger;
}

/* line 290, ../../sass/components/thr.scss */
.view-regions a {
  color: #4A90E2;
}

/* line 294, ../../sass/components/thr.scss */
#start-here {
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-bottom: 10px;
}

/* line 302, ../../sass/components/thr.scss */
#syllabi {
  background: #FFF;
  float: left;
  width: 50%;
}

/* line 308, ../../sass/components/thr.scss */
#student-work {
  background: #FFF;
  float: left;
  width: 50%;
}

/* line 314, ../../sass/components/thr.scss */
#for-teachers-button {
  background: #4A90E2;
  border-radius: 5%;
  width: 200px;
  margin-left: 25px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

/* line 326, ../../sass/components/thr.scss */
#for-teachers-class-spaces {
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-bottom: 10px;
}

/* line 334, ../../sass/components/thr.scss */
#start-here h1, p, h2 {
  margin-left: 25px;
  margin-top: 25px;
}

/* line 339, ../../sass/components/thr.scss */
#start-here a {
  color: #4A90E2;
  text-decoration: underline;
}

/* line 344, ../../sass/components/thr.scss */
#for-teachers-class-spaces h1, p {
  margin-left: 25px;
  margin-top: 25px;
}
