/* line 3, ../../sass/components/thr.scss */
#block-block-6 {
  background: #f7f7f7;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 90px;
  padding-top: 25px;
}

/* line 12, ../../sass/components/thr.scss */
#navigation {
  background: #77aaee;
  /*width: 100%;*/
  padding-top: 10px;
}
/* line 16, ../../sass/components/thr.scss */
#navigation ul.links {
  display: inline;
  font-size: larger;
}
/* line 19, ../../sass/components/thr.scss */
#navigation ul.links li {
  margin-right: 10px;
  display: inline;
}
/* line 22, ../../sass/components/thr.scss */
#navigation ul.links li a {
  text-decoration: none;
}
/* line 25, ../../sass/components/thr.scss */
#navigation ul.links li a:hover {
  color: #85d139;
}

/* line 32, ../../sass/components/thr.scss */
#navigation a {
  color: white;
}

/* line 36, ../../sass/components/thr.scss */
#block-block-7 {
  background: #EAEAEA;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 90px;
  padding-top: 25px;
}

/* line 44, ../../sass/components/thr.scss */
#views_slideshow_cycle_main_featured_slider-block {
  background: #EAEAEA;
}

/* line 48, ../../sass/components/thr.scss */
#views_slideshow_cycle_main_featured_slider-block div img {
  margin: auto;
  display: block;
}

/* line 53, ../../sass/components/thr.scss */
#header {
  background: #4A90E2;
}

/* line 57, ../../sass/components/thr.scss */
#header a {
  color: white;
  text-decoration: none;
}

/* line 62, ../../sass/components/thr.scss */
#view-content {
  background: #EAEAEA;
}

/* line 66, ../../sass/components/thr.scss */
.views-slideshow-cycle-main-frame.views_slideshow_cycle_teaser_section {
  margin: auto;
}

/* line 70, ../../sass/components/thr.scss */
img.thumb {
  width: 20%;
  float: right;
  padding-left: 10px;
}

/* line 76, ../../sass/components/thr.scss */
div.blurb {
  display: block;
}

/* line 80, ../../sass/components/thr.scss */
.blurb span {
  display: block;
  text-align: justify;
}

/*.views-row.views-row-1.views-row-odd.views-row-first.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-2.views-row-even.views-row-last.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-2.views-row-even.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-3.views-row-odd.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-4.views-row-even.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-5.views-row-odd.views-row-last.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
} */
/* line 121, ../../sass/components/thr.scss */
.view-main-news-feed {
  background: #EAEAEA;
  padding-top: 25px;
}

/* line 126, ../../sass/components/thr.scss */
.view-main-news-feed .views-row {
  background: #FFF;
}

/* line 130, ../../sass/components/thr.scss */
.views-row img {
  float: left;
  border: solid 1px;
  margin-left: 5px;
}

/* line 136, ../../sass/components/thr.scss */
.views-row .field-content {
  /*padding-left: 23%;*/
}

/* line 140, ../../sass/components/thr.scss */
.newsitem {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding-bottom: 50px;
  /*border: solid 1px;*/
}

/* line 149, ../../sass/components/thr.scss */
.newsitem .views-field-title {
  margin-left: 43%;
  font-size: larger;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* line 156, ../../sass/components/thr.scss */
.newsitem .views-field-body {
  padding-left: 23%;
}

/* line 160, ../../sass/components/thr.scss */
.newsitem .views-field-view-node {
  padding-left: 23%;
}

/* line 164, ../../sass/components/thr.scss */
#about-us {
  font-family: Sans-serif;
  text-align: justify;
}

/* line 170, ../../sass/components/thr.scss */
#about-us-top {
  background: #FFFFFF;
}

/* line 174, ../../sass/components/thr.scss */
#about-us-bottom {
  background: #EAEAEA;
}

/* line 178, ../../sass/components/thr.scss */
#about-us-pic {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* line 187, ../../sass/components/thr.scss */
#about-us-bottom h1 {
  text-align: center;
}

/* line 191, ../../sass/components/thr.scss */
#about-us p {
  width: 600px;
  font-size: larger;
  margin-left: auto;
  margin-right: auto;
}

/* line 198, ../../sass/components/thr.scss */
.theme .views-field-name {
  /* background: #EAEAEA;
   border: solid 1px;
   text-align: center;
   min-width: 300px;
   padding-top: 10px;
   padding-bottom: 10px;*/
  position: absolute;
  z-index: 1;
  background: #EAEAEA;
  margin-top: 5px;
  margin-left: 5px;
}

/* line 212, ../../sass/components/thr.scss */
.theme td {
  /*background: #EAEAEA;
  border: solid 1px;*/
  min-width: 220px;
  min-height: 220px;
  padding: 10px;
}

/* line 220, ../../sass/components/thr.scss */
.theme img {
  position: relative;
  width: 100%;
  border-radius: 2%;
}

/* line 226, ../../sass/components/thr.scss */
.theme table {
  margin-left: auto;
  margin-right: auto;
}

/* line 231, ../../sass/components/thr.scss */
#page-title {
  text-align: center;
}

/* line 235, ../../sass/components/thr.scss */
.theme a {
  color: black;
}

/* line 239, ../../sass/components/thr.scss */
.breadcrumb a {
  display: none;
}

/* line 243, ../../sass/components/thr.scss */
.view-regions table {
  margin-left: auto;
  margin-right: auto;
}

/* line 248, ../../sass/components/thr.scss */
.view-regions td {
  /*background: #EAEAEA;
  border: solid 1px;*/
  padding: 25px;
}

/* line 254, ../../sass/components/thr.scss */
.view-regions h4 {
  text-align: center;
  font-size: larger;
}

/* line 259, ../../sass/components/thr.scss */
.view-regions a {
  color: #4A90E2;
}

/* line 263, ../../sass/components/thr.scss */
#start-here {
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-bottom: 10px;
}

/* line 271, ../../sass/components/thr.scss */
#syllabi {
  background: #FFF;
  float: left;
  width: 50%;
}

/* line 277, ../../sass/components/thr.scss */
#student-work {
  background: #FFF;
  float: left;
  width: 50%;
}

/* line 283, ../../sass/components/thr.scss */
#for-teachers-button {
  background: #4A90E2;
  border-radius: 5%;
  width: 200px;
  margin-left: 25px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

/* line 295, ../../sass/components/thr.scss */
#for-teachers-class-spaces {
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-bottom: 10px;
}

/* line 303, ../../sass/components/thr.scss */
#start-here h1, p, h2 {
  margin-left: 25px;
  margin-top: 25px;
}

/* line 308, ../../sass/components/thr.scss */
#start-here a {
  color: #4A90E2;
  text-decoration: underline;
}

/* line 313, ../../sass/components/thr.scss */
#for-teachers-class-spaces h1, p {
  margin-left: 25px;
  margin-top: 25px;
}
