// Variables
$color-blue-dark: rgba(16, 59, 106, 1);
$color-blue-medium: rgba(31, 76, 127, 1);
$color-blue-light: rgba(86, 124, 165, 1);

$color-green-dark: rgba(0, 93, 6, 1);
$color-green-medium: rgba(28, 153, 36, 1);
$color-green-light: rgba(96, 199, 103, 1);

$color-gray-light: rgba(224, 224, 224, 1);
$color-gray-medium: rgba(209, 209, 209, 1);
$color-gray-dark:  rgba(84, 84, 84, 1);

a {
  text-decoration: none;
  color: $color-blue-medium;
}
a:hover {
  color: $color-blue-light;
}
// Main menu navigation bar
#navigation {
  a {
    color: white;
  }
  background: $color-blue-medium;
  /*width: 100%;*/
  padding-top: 10px;
  ul.links {
    display: inline;
    font-size: larger;
    li {
      margin-right: 10px;
      display: inline;
      a {
        text-decoration: none;
      }
      a:hover {
        color: $color-blue-light;
      }
    }
  }
}

// Blocks on the front page, about this site, etc.
.block {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 90px;
  padding-top: 25px;
}

.block-human-rights {
  background: $color-gray-light;
}

.block-importance {
  background: $color-gray-medium;
  img.thumb {
    float: left !important;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

#block-twitter-block-1 {
  padding: 0px;
}

h2.block-title {
  word-wrap: normal;
}

// Views slideshow
#views_slideshow_cycle_main_featured_slider-block {
  background: $color-gray-light;
}

#views_slideshow_cycle_main_featured_slider-block div img {
  margin: auto;
  display: block;
}

#header {
  background: $color-blue-dark;
}

#header a {
  color: white;
  text-decoration: none;
}

#view-content {
  background: $color-gray-medium;
}

.views-slideshow-cycle-main-frame.views_slideshow_cycle_teaser_section {
  margin: auto;
}

img.thumb {
  width: 20%;
  float: right;
  padding-left: 10px;
}

div.blurb {
  display: block;
}

.blurb span {
  display: block;
  text-align: justify;
}

/*.views-row.views-row-1.views-row-odd.views-row-first.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-2.views-row-even.views-row-last.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-2.views-row-even.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-3.views-row-odd.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-4.views-row-even.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.views-row.views-row-5.views-row-odd.views-row-last.newsitem {
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
} */

.view-main-news-feed {
  background: $color-gray-medium;
  padding-top: 25px;
}

.view-main-news-feed .views-row {
  background: #FFF;
}

.views-row img {
  float: left;
  border: solid 1px;
  margin-left: 5px;
}

.views-row .field-content {
  /*padding-left: 23%;*/
}

.newsitem {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding-bottom: 50px;
  /*border: solid 1px;*/
}

.newsitem .views-field-title {
  margin-left: 43%;
  font-size: larger;
  padding-bottom: 5px;
  padding-top: 5px;
}

.newsitem .views-field-body {
  padding-left: 23%;
}

.newsitem .views-field-view-node {
  padding-left: 23%;
}

#about-us {
    font-family: Sans-serif;
    text-align: justify;
}


#about-us-top {
    background: #FFFFFF;
}

#about-us-bottom {
    background: $color-gray-dark;
}

#about-us-pic {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
}

#about-us-bottom h1 {
  text-align: center;
}

#about-us p {
  width: 600px;
  font-size: larger;
  margin-left: auto;
  margin-right: auto;
}

.theme .views-field-name {
 /* background: $bg-color-light-gray;
  border: solid 1px;
  text-align: center;
  min-width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;*/
  position: absolute;
  z-index: 1;
  background: $color-gray-medium;
  margin-top: 5px;
  margin-left: 5px;
}

.theme td {
  /*background: $bg-color-light-gray;
  border: solid 1px;*/
  min-width: 220px;
  min-height: 220px;
  padding: 10px;
}

.theme img {
  position:relative;
  width: 100%;
  border-radius: 2%;
}

.theme table {
  margin-left: auto;
  margin-right: auto;
}

#page-title {
  text-align: center;
}

.theme a {
  color: black;
}

.breadcrumb a {
  display: none;
}

.view-regions table {
  margin-left: auto;
  margin-right: auto;
}

.view-regions td {
  /*background: $bg-color-light-gray;
  border: solid 1px;*/
  padding: 25px;
}

.view-regions h4 {
  text-align: center;
  font-size: larger;
}

.view-regions a {
  color: #4A90E2;
}

#start-here {
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding-bottom: 10px;
}

#syllabi {
    background: #FFF;
    float: left;
    width: 50%;
}

#student-work {
    background: #FFF;
    float: left;
    width: 50%;
}

#for-teachers-button {
    background: #4A90E2;
    border-radius: 5%;
    width: 200px;
    margin-left: 25px;
    border-radius: 6px;
    border: 1px solid $color-gray-light;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}

#for-teachers-class-spaces {
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-bottom: 10px;
}

#start-here h1, p, h2 {
  margin-left: 25px;
  margin-top: 25px;
}

#start-here a {
  color: #4A90E2;
  text-decoration: underline;
}

#for-teachers-class-spaces h1, p {
  margin-left: 25px;
  margin-top: 25px;
}
